@import '../../styles/index.scss';

.Smiley {
  width: 52px;
  height: 52px;
  font-size: 35px;
  @include borders;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  &:active {
    @include borders(#7b7b7b, white);
  }
}
